@import url('https://fonts.googleapis.com/css?family=Viaoda+Libre&display=swap');

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    height: 10vh;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px 5px -8px #000;
    z-index: 10;
}

.Logo {
    font-family: 'Viaoda Libre', cursive;
    font-size: 30px;
    margin-right: auto;
    color: #f05e23;
    cursor: pointer;
}

.Hamburger {
    margin-left: auto;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}

.Hamburger div {
    width: 100%;
    height: 5px;
    margin: 5px 0;
    background-color: #f05e23;
    align-items: center;
}

.Cart {
    margin-right: 20px;
}

.Header p {
    transition: all .3s ease;
}

.Header p:hover {
    cursor: pointer;
    color: #f05e23;
}

.Header a {
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    .Cart {
    display: none;
}
    .History {
        display: none;
    }
    .Hamburger {
        display: block;
    }
}